__pycache__/BrianHF.cpython-310.pyc
__pycache__/EvCamDatabase.cpython-310.pyc
__pycache__/NeuronEquations.cpython-310.pyc
oldResults
SimulationResults
InputData
NotVisualized
SimulationResultsFinal
EROS
